<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <Xmg_Wis>
                <version>0.1.0</version>
            </Xmg_Wis>
        </modules>

        <models>
            <xmg>
                <class>Xmg_Wis_Model</class>
            </xmg>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <Xmg_Wis_Observer>
                        <type>singleton</type>
                        <class>Xmg_Wis_Model_Observer</class>
                        <method>checkPayment</method>
                    </Xmg_Wis_Observer>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <frontend>
        <routers>
            <wis>
                <use>standard</use>
                <args>
                    <module>Xmg_Wis</module>
                    <frontName>wis</frontName>
                </args>
            </wis>
        </routers>
        <layout>
            <updates>
                <wis>
                    <file>wis.xml</file>
                </wis>
            </updates>
        </layout>
    </frontend>
</config>
